* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #F2F3F5;
  border-radius: 4px;
  .content {
    background: rgb(168, 213, 252);
    /* display: block; */
    width: 800px;
    margin: 0 auto;
    padding:100px 0;

  }
  .header {
    text-align: center;
    color: #FFF;
    font-size: 24px;
    margin-bottom: 40px;
  }
}
.bio-content {
  overflow: hidden;
  color: #FFF;
  .bio-item {
    float: left;
    width: 50%;
    margin-bottom: 20px;
    padding: 0 16px;
  }
}